[Unit]
Description=Gunicorn instance for Flask
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flaskapp
Environment="PATH=/home/ubuntu/flaskapp/venv/bin"
ExecStart=/home/ubuntu/flaskapp/venv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/flaskapp/flaskapp.sock wsgi:app

[Install]
WantedBy=multi-user.target
